[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
h5py = "*"
pillow = "*"
keras = "*"
tensorflow = "==1.13.1"

[requires]
python_version = "3.6"
